<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhhl.ducha">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:networkSecurityConfig="@xml/network_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".app.Applicton">
        <activity android:name=".activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".activity.MainActivity"/>-->
        <!--报表-->
        <activity android:name=".activity.ZDActivity.HomeReportActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"/>
        <!--重点人员-->
        <activity android:name=".activity.ZDActivity.lieguanactivity.YingdanglieguanlActivity"/>
        <!--重点详情-->
        <activity android:name=".activity.ZDActivity.lieguanactivity.LingdaoActivityDetalis"
            android:launchMode="singleTop"/>
        <!--重点人异地一年以上-->
        <activity android:name=".activity.ZDActivity.lieguanactivity.ZDyinianActivityDetalis"
            android:launchMode="singleTop"/>
        <!--涉毒-->
        <activity android:name=".activity.BedrugActivity.BedActivity"/>
        <!--涉毒详情-->
        <activity android:name=".activity.BedrugActivity.BedActivitydetails"
            android:launchMode="singleTop"/>
        <!--涉毒报表-->
        <activity android:name=".activity.BedrugActivity.BedReportActivity"/>
        <!--应当撤管未撤管-->
        <activity android:name=".activity.ZDActivity.cheguanactivity.YingdangcheguanActivity"/>
        <!--羁押期间或死亡-->
        <activity android:name=".activity.ZDActivity.jiyaactivity.JiYaqijianActivity"/>
        <!--死亡未撤管详情-->
        <activity android:name=".activity.ZDActivity.cheguanactivity.SWweicheguanActivityDetails"/>
        <!--羁押已死亡详情-->
        <activity android:name=".activity.ZDActivity.jiyaactivity.JYdetaActivityDeteils"/>
        <!--羁押在逃人员详情-->
        <activity android:name=".activity.ZDActivity.jiyaactivity.JYZaitaoActivityDeteils"/>
        <!--重点关注人员失控离开本地-->
        <activity android:name=".activity.ZDActivity.ZhongDianactivity.ZDShiKongActivity"/>
        <!--未按照规定录入稳控考察记录-->
        <!--稳控考察记录过于简单或雷同-->
        <activity android:name=".activity.ZDActivity.WenKongkaochaActivity.WenKongkaochaActivity"/>
        <!--稳控工作记录少于10字详情-->
        <activity android:name=".activity.ZDActivity.WenKongkaochaActivity.WenKongDeteilsActivity1"/>
        <!--稳控考察记录雷同超过3次详情页-->
        <activity android:name=".activity.ZDActivity.WenKongkaochaActivity.WenKongDeteilsActivity2"/>
        <!--羁押拘留期间仍有见面稳控考察记录-->
        <!--重点人信息录入不全-->
        <activity android:name=".activity.ZDActivity.jiyaactivity.JYJuliuActivityDeteils"/>
        <!--重点人信息录入不全详情-->
        <activity android:name=".activity.ZDActivity.ZhongDianactivity.ZhongDianDeteilsActivity"/>
        <!--领导交办重点人统计-->
        <activity android:name=".activity.TableActivity.LTableActivity1"/>
        <!--重点人异地居住一年以上统计-->
        <activity android:name=".activity.TableActivity.LTableActivity2"/>
        <!--死亡未撤管重点人统计-->
        <activity android:name=".activity.TableActivity.SWTableActivity"/>
    </application>

</manifest>